body{background-image: url(photo/star.jpg);
     background-size: cover;}
.submit{background-color: #000000;
		color: white;
		padding: 10px 20px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		margin: 10px 10px;
		cursor: pointer;
		border-radius: 4px;}
.header{font-size: 50px;
        text-align: center;} 
.container{color: black;
           background-color: white;
           border-style: solid;
           border-color:rgb(17, 19, 170);
           border-width: 5px;
           text-align: center;
           width: 35%;
           padding: 10px;
           margin: auto;}
#google_translate_element {position: absolute;
                           top: 5px;
                           right: 20px;
                           padding: 5px 10px;
                           border-radius: 4px;}
.sound{text-align: right;
       padding-top: 38px;
       padding-right: 3px;}
.sound2{text-align: right;
       padding-top: 5px;
       padding-right: 10px;}
.form-group {display: flex;
             align-items: center;
             margin-bottom: 10px;}
.form-group label {width: 100px;
                   text-align: right;
                   margin-right: 10px; } 
.main-input{margin-top: 30px;}                                                      